.park_card {
    width: 300px;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 250px;  
    border: solid black;
    
}

.span_container {
    height: 300px;
    width: 300px;
}

span {
    display: flex;
    flex-direction: column;
    padding-top: 40%;
}

.img_container {
    height: 300px;
    width: 300px;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.description {
    font-size: 14px;
   
}

.button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.button:hover {
    text-decoration: underline;
    color: green;
    border-color: green;
}

.states {
    overflow-wrap: break-word;
    font-size: 18px;
    letter-spacing: .05em;
}

