.park_card {
    width: 300px;
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 250px;  
    color: whitesmoke;
    padding-top: 0;
}

.park_border {
    border: transparent 2px black;
    border-radius: 5px;
    /* padding: 5px; */
    /* background: rgb(121,185,103);
background: linear-gradient(3deg, rgba(121,185,103,1) 100%, rgba(105,183,113,1) 24%, rgba(218,232,188,1) 0%); */
background-color: rgb(109, 146, 109);   
    padding: 20px;
}

.span_container {
    height: 300px;
    width: 300px;
}

span {
    display: flex;
    flex-direction: column;
    padding-top: 40%;
}

.img_container {
    height: 300px;
    width: 300px;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.description {
    font-size: 14px;
   color: whitesmoke;
}

.button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-top: 30px;
    color: whitesmoke;
}

.button:hover {
    text-decoration: underline;
    color: green;
    border-color: green;
}

.states {
    overflow-wrap: break-word;
    font-size: 18px;
    letter-spacing: .05em;
    color: whitesmoke;
}

