/* .container {
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
} */



.display {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px;
    color: white;
    
} 

.img {
    height: 500px;
    width: 100vw;
    
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(109, 146, 109);
    margin: 20px;
    padding: 20px;
    /* width: 50%; */
    text-indent: 10px;
    line-height: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

h4 {
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

.directions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
    /* width: 50%; */
    text-indent: 10px;
    line-height: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.weather_container {
    display: flex;
    flex-direction: column;
    background-color: white;
background-color: rgb(109, 146, 109);
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
    /* width: 50%; */
    text-indent: 10px;
    line-height: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.activities_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-right: 5%;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


